.sp-contact-info {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0 -10px;
}

.sp-contact-info li {
    display: inline-block;
    margin: 0 10px;
    font-size: 90%;
}

#sp-top1 {
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#phonenumber,
#emailadd {
    color: black;
    !important;
    font-weight: bold;
    font-family: 'Baloo Tammudu', cursive;
    letter-spacing: 0.2px;
}

#phonenumber:hover,
#emailadd:hover {
    text-decoration: none;
    color: blue;
}

.fixed {
    overflow: hidden;
    /*    position: fixed;*/
    /*    background-color: black;*/
    width: 100%;
}

.navbar-fixed {
    overflow: hidden;
    background-color: #373a48;
    position: fixed;
    top: 0;
}

.per_nav {
    background-color: #373a48;
}

.my-navbar {
    position: absolute;
    width: 100%;
    border: 0;
    border-radius: 0;
    background: none;
    z-index: 999;
}

.my-navbar1 {
    position: absolute;
    width: 100%;
    border: 0;
    border-radius: 0;
    z-index: 999;
}

.navbar-nav li {
    font-weight: bold;
    font-family: 'Noticia Text', serif;
}

.carousel-caption {
    top: 30%;
    bottom: auto;
}


/*---------------*/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    /*    (-webkit for Chrome, Safari; -moz for Firefox, -o for Opera, -ms for Internet Explorer)*/
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: white;
    top: 5px;
}

#images {
    text-align: center;
    margin: auto;
}

hr.style14 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

#images img:hover {
    -webkit-transform: rotate(2deg) scale(1.2);
    -moz-transform: rotate(2deg) scale(1.2);
    /* Fx 3.5-15 */
    -ms-transform: rotate(2deg) scale(1.2);
    /* IE 9 */
    -o-transform: rotate(2deg) scale(1.2);
    /* Op 10.5-12 */
    transform: rotate(2deg) scale(1.2);
    /* Fx 16+, IE 10+ */
}

#counter {
    margin-top: 15%;
}

#counter i,
#counter h2,
#counter h4 {
    color: white;
}

@media (max-width:768px) {
    #counter {
        margin-top: 0%;
    }
}

#counter i:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.3);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.3);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.3);
    transition: all 200ms ease-in;
    transform: scale(1.3);
}

.count {
    margin-top: 2%;
    text-align: center;
    background-image: url("a2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 2%;
    width: 100%;
    min-height: 500px;
}

.head2 {
    background-image: url("place.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
}

.carousel-caption h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 80px;
}

.carousel-caption2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 80px;
}

.carousel-caption p {
    font-size: 30px;
    font-family: 'Audiowide', cursive;
}

.c1 {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}

.modal-open[style] {
    padding-right: 0px !important;
}

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

div.polaroid {
    padding: 1%;
    margin: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-color: #E8E8E8;
}

.tabs {
    font-family: 'Bitter', serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.gal-container {
    padding: 12px;
}

.gal-item {
    overflow: hidden;
    padding: 3px;
}

.gal-item .box {
    height: 350px;
    overflow: hidden;
}

.box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

#map {
    height: 400px;
    width: 100%;
}

.container2 {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container2:hover .overlay {
    height: 100%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.btn-arrow-right {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
}

.btn-arrow-right {
    padding-left: 36px;
}

.btn-arrow-right:before,
.btn-arrow-right:after {
    /* make two squares (before and after), looking similar to the button */
    content: "";
    position: absolute;
    top: 5px;
    /* move it down because of rounded corners */
    width: 22px;
    /* same as height */
    height: 22px;
    /* button_outer_height / sqrt(2) */
    background: inherit;
    /* use parent background */
    border: inherit;
    /* use parent border */
    border-left-color: transparent;
    /* hide left border */
    border-bottom-color: transparent;
    /* hide bottom border */
    border-radius: 0px 4px 0px 0px;
    /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}

.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg);
    /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.btn-arrow-right:before {
    /* align the "before" square to the left */
    left: -11px;
}

.btn-arrow-right:after {
    /* align the "after" square to the right */
    right: -11px;
    z-index: 1;
}

.btn-arrow-right:before {
    /* hide arrow tails background */
    background-color: white;
}

.active2 {
    background-color: #373a48;
}

.verticalLine {
    border-left: thin solid #DCDCDC;
}

.col-md-4 {
    text-align: center;
}

.next1 {
    float: right;
    margin-top: 30%;
}

.next2 {
    float: right;
    margin-top: 2%;
    margin-bottom: 5%;
}

@media (max-width:768px) {
    .next1 {
        width: 100%;
        margin-bottom: 0%;
        margin-bottom: 2%;
    }
}

.j1 {
    top: 0;
    border-style: hidden;
    background-color: aquamarine;
    text-align: center;
}

.center_text {
    text-align: center;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#selectpacket:hover
{
    background-color: darkturquoise;
}
.hli {

    border:3px solid #373A48;

}


.arrow_box {
    position: relative;
    background: #d5d5d5;
    border: 2px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(213, 213, 213, 0);
    border-bottom-color: #d5d5d5;
    border-width: 30px;
    margin-left: -30px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #c2e1f5;
    border-width: 33px;
    margin-left: -33px;
}